@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --Gray-700 : hsl(210, 10%, 33%);
    --Gray-500 : hsl(201, 11%, 66%);
    --Green-500 : hsl(171, 66%, 44%);
    --Blue-100 : hsl(233, 100%, 69%);
}
/* 
Font size: 18px
Weights: 400, 600 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bai Jamjuree, sans-serif;
}
.body{
    min-height: 100vh;
}

.landing{
    margin-bottom: 50px;
    text-align: center;
}
.landing > .container{
    margin-left: 20px;
    margin-right: 20px;
    position: relative;

}
.landing > .container::before{
    content: "";
    width: 100%;
    height: 156px;
    background-image: url("images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    z-index: -1;
}

@media (min-width: 768px) {
    .landing > .container::before {
        height: 363px;
        background-image: url("images/bg-header-desktop.png");
    }
}
.container  img{
    margin: 100px 0 50px 0;
}
h1, h2 , h3{
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--Gray-700);
}
p{
    font-weight: 400;
    color: var(--Gray-500);
    line-height: 1.7;
    font-size: clamp(10px, 2vw + 0.5rem, 15px);
}
.download{
    margin-top: 30px;
}

button{
    cursor: pointer;
    width: 300px;
    outline: none;
    border: none;
    padding: 20px;
    border-radius: 50px;
    text-align: center;
    margin: 10px;
    color: white;
    font-size: 18px;
    transition: transform 0.2s, box-shadow 0.2s;
    display: inline-block;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1), 
    inset 0 -4px 0 rgba(0, 0, 0, 0.2),
    inset 0 1px 0 rgba(255, 255, 255, 0.3);
    transition: all 0.1s ease;
}

.download button:first-child{
    background-color: var(--Green-500);
    background: linear-gradient(180deg, #33c1a1 0%, #22a38a 100%);
    box-shadow: 0 10px 20px rgba(34, 163, 138, 0.2);
}

.download button:last-child{
    background-color: var(--Blue-100);
    background: linear-gradient(180deg, #737dfe 0%, #6165f1 100%);
    box-shadow: 0 10px 20px rgba(97, 101, 241, 0.2);
}
button:hover {
    transform: translateY(-2px); 
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}
button:active {
    transform: translateY(2px); /* الزرار بينزل لتحت شوية */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 
                inset 0 -2px 0 rgba(0, 0, 0, 0.2); /* تقليل البروز عند الضغط */
}
body > .text{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

body > .text p{
    margin: auto;
    max-width: 600px;
}
.features{
    display: flex;
    gap: 90px;
    margin-bottom: 150px;
}
.features > img, .section3 > img{
    max-width: calc(100% - 100px);
    min-width: 277px;

}

.features .text section{
    margin:80px 80px 80px 0;
}
.features .text section p{
    max-width: 300px;
}
@media (max-width: 1200px) {
    .features{
        gap: 0;
        flex-direction: column;
    }
    .features > img, .section3  img{
    max-width: calc(100% - 500px);
    margin: auto;
    }
    .features .text section{
        text-align: center;
        margin:80px 0 80px 0;
    }
    .features .text section:last-child{
        margin-bottom: 0;
    }
    .features .text section p{
        margin: auto;
    }
}

.section3{
    display: flex;
    flex-direction: column;
}
.section3 .text{
    text-align: center;
}
.section3 .text p{
    max-width: 700px;
    padding: 0 50px;
    margin: auto;
}

.section3 img{
    margin-top: 70px;

}
.section3 + .text{
    margin-top: 0;
    margin-bottom: 0;
}

.advantages{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 50px;
}
.advantages .box{
    max-width: 300px;
    text-align: center;
}
.box img{
    margin: 40px;
}
.examples{
    display: flex;
    justify-content: center;
}
@media (max-width: 1200px){
    .advantages{
        flex-direction: column;
    }
    .examples{
        flex-direction: column;
        align-items: center;
    }
}
.examples + .container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.examples + .container p{
    margin-top: 10px;
    max-width: 500px;
    text-align: center;
}

.examples + .container .download{
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}
@media (max-width: 684px){
    .examples + .container .download{
        flex-direction: column;
    }
}
footer{
    background-color: rgb(242, 243, 245);
    padding: 10px 50px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
footer > .contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer .contact img{
    margin: 40px;
}
img + .contact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
    text-align: center;
}
img + .contact a{
    text-decoration: none;
    margin: 10px;
    color: var(--Gray-500);
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
@media (max-width: 685px) {
    footer > .contact{
        flex-direction: column;
    }
    img + .contact{
        grid-template-columns: 1fr;
        text-align: center;
    }
    
}